.MulitStepper .css-vgb7rt {
    display: block;
    border-color: transparent !important;
    border-left-style: none !important;
    border-left-width: 0px !important;
    min-height: 0px !important;
    padding: 12px 0px;
}

.MulitStepper .css-j7qwjs {
    align-items: flex-start;
}

.MulitStepper .css-105xk4f{
    width: 75%;
}

.MulitStepper .css-4ff9q7 {
    color: var(--Marine_blue) !important;
    background-color: var(--Light_blue) !important;
}

.MulitStepper .css-2fdkz6{
    color: var(--Alabaster) !important;
}

.MulitStepper .css-4ff9q7{
    width: 30px !important;
    height: auto !important;
    color: transparent !important;
    border: 2px solid var(--Alabaster) !important;
    border-radius: 50%;
}

.MulitStepper .parentItem{
    background-image: url(../../assets/images/bg-sidebar-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 85vh;
}

.MulitStepper .Next_Step{
    background-color: var(--Marine_blue) !important;
    color: var(--White) !important;
    padding: 10px !important;
    font-size: 12px !important;
}